.combo-box-error {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
.text-field-error {
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
.label-error {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}
.combo-box:disabled {
    -fx-opacity: 1;
    -fx-background-color: rgba(15, 212, 153, 0.774);    
    -fx-border-color: gray;       
}