.radio-button.custom-radio .radio {
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
    -fx-opacity: 0;
}

.custom-radio {
    -fx-label-padding: 0;
    -fx-graphic-text-gap: 0;
    -fx-background-color: #d6bce8;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #a787c4;
    -fx-border-width: 2;
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-content-display: center;
}

.custom-radio:hover {
    -fx-background-color: #cba6e8;
}

.custom-radio:selected {
    -fx-background-color: #8b50c9;
    -fx-border-color: #5e2a8a;
    -fx-text-fill: white;
}